{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/GymFavicon.png' %}">
    <title>Productos</title>
</head>
<body class="container mt-4">

<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href=""><strong>Gimnasio Aquiles</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNav" aria-controls="navbarNav"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link text-white" href="{% url 'MainView' %}">Inicio</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="{% url 'UsersView'%}">Roles</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="{% url 'Products'%}">Productos</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="{% url 'Reports' %}">Reportes</a></li>
          <li class="nav-item"><a class="nav-link text-white" href="{% url 'Clientes' %}">Clientes</a></li>
        </ul>
      </div>
    </div>
</nav>

<h1 class="my-4">Catálogo de Productos</h1>

<div class="row row-cols-1 row-cols-md-4 g-4">
<!-- Producto 1 -->
<div class="col">
  <div class="card h-100">
    <img src="{% static 'images/Botella para agua.webp'%}" class="card-img-top" alt="Producto 1">
    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <h5 class="card-title">BlenderBottle Strada Tritan</h5>
        <p class="card-text">Botella agitadora con tapa de bloqueo, 28 onzas, color negro</p>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <span class="fw-bold text-success fs-5">NIO 611.00</span>
        <a href="" class="btn btn-success">Agregar</a>
      </div>
    </div>
  </div>
</div>

<!-- Producto 2 -->
<div class="col">
  <div class="card h-100">
    <img src="{% static 'images/Botella para agua 2.webp'%}" class="card-img-top" alt="Producto 2">
    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <h5 class="card-title">HELIMIX 2.0 Vortex</h5>
        <p class="card-text">Botella mezcladora con capacidad para hasta 28 onzas, sin bola de mezcla o batidor.</p>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <span class="fw-bold text-success fs-5">NIO 940.00</span>
        <a href="" class="btn btn-success">Agregar</a>
      </div>
    </div>
  </div>
</div>

<!-- Producto 3 -->
<div class="col">
  <div class="card h-100">
    <img src="{% static 'images/Botella para agua 3.webp' %}" class="card-img-top" alt="Producto 3">
    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <h5 class="card-title">Nalgene Sustain</h5>
        <p class="card-text">Botella de agua de 32 fl oz, boca ancha</p>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <span class="fw-bold text-success fs-5">NIO 615.00</span>
        <a href="" class="btn btn-success">Agregar</a>
      </div>
    </div>
  </div>
</div>

<!-- Producto 4 -->
<div class="col">
  <div class="card h-100">
    <img src="{% static 'images/Botella para agua 4.webp' %}" class="card-img-top" alt="Producto 4">
    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <h5 class="card-title">Under Armour</h5>
        <p class="card-text">Botella para apretar Sideline de 32 onzas, color rosa intenso</p>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <span class="fw-bold text-success fs-5">NIO 370.00</span>
        <a href="" class="btn btn-success">Agregar</a>
      </div>
    </div>
  </div>
</div>

<!-- Producto 5 -->
<div class="col">
  <div class="card h-100">
    <img src="{% static 'images/Botella para agua 5.webp' %}" class="card-img-top" alt="Producto 5">
    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <h5 class="card-title">BlenderBottle Classic V2</h5>
        <p class="card-text">Botella mezcladora para batidos de proteínas y entrenamiento previo, 28 onzas, color morado completo</p>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <span class="fw-bold text-success fs-5">NIO 400.00</span>
        <a href="" class="btn btn-success">Agregar</a>
      </div>
    </div>
  </div>
</div>

<!-- Producto 6 -->
<div class="col">
  <div class="card h-100">
    <img src="{% static 'images/Botella para agua 6.webp' %}" class="card-img-top" alt="Producto 6">
    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <h5 class="card-title">Stanley Quick Flip GO</h5>
        <p class="card-text">Botella de agua de 24 onzas, tapa de botón, a prueba de fugas y plegable para viajes y deportes, acero inoxidable aislado sin BPA, lila 2.0</p>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <span class="fw-bold text-success fs-5">NIO 800.00</span>
        <a href="" class="btn btn-success">Agregar</a>
      </div>
    </div>
  </div>
</div>

<!-- Producto 7 -->
<div class="col">
  <div class="card h-100">
    <img src="{% static 'images/Botella para agua 7.webp' %}" class="card-img-top" alt="Producto 7">
    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <h5 class="card-title">Ello Pop & Fill</h5>
        <p class="card-text">Botella de agua de acero inoxidable de llenado rápido, metal con aislamiento al vacío de doble pared, tapa a prueba de fugas</p>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <span class="fw-bold text-success fs-5">NIO 760.00</span>
        <a href="" class="btn btn-success">Agregar</a>
      </div>
    </div>
  </div>
</div>

<!-- Producto 8 -->
<div class="col">
  <div class="card h-100">
    <img src="{% static 'images/Botella para agua 8.webp' %}" class="card-img-top" alt="Producto 8">
    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <h5 class="card-title">Adidas</h5>
        <p class="card-text">Botella de agua de acero inoxidable 18/8 con aislamiento frío.</p>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <span class="fw-bold text-success fs-5">NIO 1,020.00</span>
        <a href="" class="btn btn-success">Agregar</a>
      </div>
    </div>
  </div>
</div>
<!-- Producto 9 -->
<div class="col">
  <div class="card h-100">
    <img src="{% static 'images/MenGlove.webp' %}" class="card-img-top" alt="Producto 8">
    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <h5 class="card-title">Nike Guantes</h5>
        <p class="card-text">De entrenamiento extremo/fitness/espuma de baja densidad y malla transpirable - 1 par - hombre</p>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <span class="fw-bold text-success fs-5">NIO 950</span>
        <a href="" class="btn btn-success">Agregar</a>
      </div>
    </div>
  </div>
</div>

<!-- Producto 10 -->
<div class="col">
  <div class="card h-100">
    <img src="{% static 'images/MenGlove2.webp' %}" class="card-img-top" alt="Producto 8">
    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <h5 class="card-title">Bionic Guantes</h5>
        <p class="card-text">De entrenamiento de gimnasio de medio dedo Beastmode para hombre</p>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <span class="fw-bold text-success fs-5">NIO 1,299</span>
        <a href="" class="btn btn-success">Agregar</a>
      </div>
    </div>
  </div>
</div>

<!-- Producto 11 -->
<div class="col">
  <div class="card h-100">
    <img src="{% static 'images/WomenGlove.webp' %}" class="card-img-top" alt="Producto 8">
    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <h5 class="card-title">DXM SPORTS</h5>
        <p class="card-text">Guantes de entrenamiento para mujer con soporte para muñeca, guantes de levantamiento de pesas para gimnasio, ciclismo, entrenamiento, guantes de ejercicio para mujer</p>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <span class="fw-bold text-success fs-5">NIO 399.99</span>
        <a href="" class="btn btn-success">Agregar</a>
      </div>
    </div>
  </div>
</div>

<!-- Producto 12 -->
<div class="col">
  <div class="card h-100">
    <img src="{% static 'images/Proteina.webp' %}" class="card-img-top" alt="Producto 12">
    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <h5 class="card-title">Optimum Nutrition</h5>
        <p class="card-text">Proteina para mujer para ganar masa muscular</p>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <span class="fw-bold text-success fs-5">NIO 2899.99</span>
        <a href="" class="btn btn-success">Agregar</a>
      </div>
    </div>
  </div>
</div>





</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
